<div Align="Center">
<br /><br /><br />
<form action="{{home_link}}" method="POST">
    <input type="submit" name="submit" value="Play">

<br /><br /><br />

    <input type="submit" name="submit" value="Rank Board">
</form>

    <br />
    <br />
    <br />

    <b>Rules:</b> <br />
    Word guessed must be greater than 3 letters <br />
    Word guessed cannoot be the same as the random word given <br />
    Words guessed cannot be duplicates <br />
    All words must be correct inorder to appear on rank board <br />
    Words guessed must be in the dictionary and in English <br />
    Spaces for word are not allow eg."    good" in goodie
 </div>